* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    width: 95%;
    max-width: 375px;
    background-color: #22252D;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
}

.operator{
    color: #EB6666;
}

.action{
    color: rgb(0, 255, 234);
}

.display{
    display: flex;
    min-height: 200px;
    justify-content: flex-end;
    align-items: end;
    flex: 1 1 0%;
    text-align: right;
    padding: 1.5rem;
    box-shadow: 5px 5px 5px rgba(73 68 68 / 20%) inset;
    cursor: text;
}

.display .input{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.display .output{
    color: rgb(0, 255, 234);
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    overflow: auto;
}

.keys{
    background-color: #292d36;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0px -2px 16px rgba(0,0,0,0.2);
}

.key{
    position: relative;
    background-color: #262933;
    cursor: pointer;
    display: block;
    height: 0;
    padding-top: 100%;
    border-radius: 1rem;
    user-select: none;
    transition: 0.2s;
    box-shadow: 0px 1px 5px;
}

.key:hover{
    box-shadow: 0px 1px 10px;
}

.key span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    font-weight: 700;
}
